*
!.gitignore

# per generare dei self-signed certificates: https://github.com/ChimeraCoder/nginx-ssl-docker
# openssl req -new -newkey rsa:2048 -nodes -keyout nginx.key -out nginx.csr
# openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout nginx.key -out nginx.crt
# openssl dhparam -out dhparam.pem 2048